@use "sass:map";

@import "styles/constants";
@import "styles/mixins";


.wrapper {
  padding: 48px 48px 112px;
  min-height: 100vh;
  @include flexAllCenter();
  flex-wrap: wrap;
  gap: 16px;
  background-color: #19191a;

  @include smaller-than-or-equal("tabletSmall") {
    padding: 48px 32px calc(48px + 164px);
  }

  .videoWrapper{
    @include smaller-than-or-equal("mobileMedium") {
      width: 100%;
    }

    .video {
      height: 300px;
      width: 400px;
      object-fit: cover;

      @include smaller-than-or-equal("mobileMedium") {
        width: 100%;
      }
    }
    .noVideo{
      position: absolute;
      top: -100%;
      visibility: hidden;
    }
  }
}

.errorWrapper {
  height: 100vh;
  flex-direction: column;
  @include flexAllCenter();
  gap: 12px;

  .error {
    font-size: 32px;
    font-weight: 600;
  }

  .reloadButton {
    margin-top: 24px;
  }
}
